@media (min-width: 769px) and (max-width: 1024px) {
  .presentation {
    width: 90vw;
    margin: 3rem auto;
    border-radius: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .presentation-photo-wrapper {
    width: 250px !important;
    height: 250px !important;
  }

  .presentation-photo {
    width: 244px !important;
    height: 244px !important;
  }

  .presentation-text {
    text-align: center;
  }
}
