@media (max-width: 768px) {
  .px-footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer .d-flex.justify-content-center.flex-wrap {
    flex-direction: column;
    align-items: center;
    gap: 2rem !important;
    text-align: center;
  }

  .footer ul {
    text-align: center;
  }
}
