@media (max-width: 768px) {
  .modal-portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-portfolio-img {
    height: 10rem;
  }

  .modal-dialog.modal-xl {
    margin: 0.5rem auto;
    max-width: 95vw;
  }
}
